@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

@import "tailwindcss";

@theme {
  --font-body: "Roboto", sans-serif;
  --font-title: "Londrina Solid", sans-serif;
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  --animate-shimmer: shimmer 1.8s ease-in-out infinite;
}
