@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "@fontsource/roboto-condensed/400.css";
@import "@fontsource/roboto-condensed/500.css";
@import "@fontsource/roboto-condensed/700.css";

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;

  --animate-fade-in: fade-in 0.4s ease-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
}
