@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 box-border font-[Inter] bg-zinc-700;
  }
  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
}
