name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install dependencies
        run: npm install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run test database
        run: docker compose -f docker-compose.dev.yml up  -d
      - name: Run tests server
        run: npm run test:server
        env:
          NODE_ENV: test
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}
          PORT: ${{ secrets.PORT }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
      - name: Run tests ui
        run: npm run test:ui
      - name: Run e2e tests
        run: |
          npm run start:test:server &
          npm run start:test:ui &
          npx wait-on http://localhost:3000
          npx wait-on http://localhost:5173
          npm run test:e2e
        env:
          NODE_ENV: test
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}
          PORT: ${{ secrets.PORT }}
          SESSION_SECRET: ${{ secrets.SESSION_SECRET }}

  deploy:
    needs: [deployment_pipeline]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Trigger deployment
        if: ${{ github.event_name == 'push' && contains(join(github.event.commits.*.message, ', '), '#skip') == false }}
        run: curl ${{ secrets.RENDER_SERVICE_URL }}
